
.cj-ReceivingAdd {
  width: 100%;
  float: left;
  clear: left;
}

.cj-remindText {
  width: 100%;
  padding: 0 .32rem;
  font-size: .36rem;
  line-height: .96rem;
  text-align: left;
  color: #e74c3c;
  float: left;
  clear: left;
}

.cj-receivingAddMain {
  width: 100%;
  border-top: 1px solid #dce6ef;
  float: left;
  clear: left;
}

.cj-receivingAddMain li {
  width: 100%;
  height: 1.28rem;
  padding: 0 .32rem;
  background: #fff;
  border-bottom: 1px solid #dce6ef;
  float: left;
  clear: left;
  position: relative;
}

.cj-receivingAddMain li input {
  width: 100%;
  height: 1rem;
  margin: .14rem 0;
  border: none;
  background: #fff;
  font-size: .36rem;
  line-height: 1rem;
  text-align: left;
  color: #333;
  float: left;
  clear: left;
}

.cj-receivingAddMain li input::-webkit-input-placeholder {
  color: #bcbcbc;
}

.cj-receivingAddMain li.cj-rangeAdd {
  /*background: #fff url(../assets/images/arrow_link_gray.png) no-repeat 9.2rem center;*/
  background-size: .48rem;
}

.cj-receivingAddMain li.cj-rangeAdd span {
  height: 1.28rem;
  border: none;
  background: #fff;
  font-size: .36rem;
  line-height: 1.28rem;
  text-align: left;
  color: #bcbcbc;
}

.cj-receivingAddMain li.cj-rangeAdd span.cj-selected {
  color: #333;
}

.cj-popFool {
  width: 100%;
  float: left;
  clear: left;
}

.cj-popFool a {
  width: 100%;
  height: 1.28rem;
  background: #d53533;
  font-size: .48rem;
  line-height: 1.28rem;
  text-align: center;
  color: #fff;
  float: left;
  clear: left;
}
