body {
	background: #930108;
}
.bodyBox {
	width: 100%;
	height: auto;
	background: #930108;
	float: left;
	clear: left;
}

.picMain {
	width: 100%;
	float: left;
	clear: left;
}
.picMain img {
	width: 100%;
	float: left;
	clear: left;
}
.fromBox {
	width: 100%;
	height: auto;
	min-height: 8.8rem;
	padding: .4rem 1.48rem;
	background: url(../images/indexBG.png) no-repeat center center;
	background-size: 100%;
	box-sizing: border-box;
	float: left;
	clear: left;
}
.fromBox li {
	width: 100%;
	float: left;
	clear: left;
}
.fromBox li.title {
	height: 2.72rem;
	background: url(../images/textIndex.png) no-repeat center top;
	background-size: 7.04rem; 
}
.fromBox li.input {
	height: 1.04rem;
	padding: .2rem 0;
	border: 1px solid #d8d8d8;
	box-sizing: border-box;
	background: #fff;
	margin-bottom: .32rem;
}
.fromBox li.input input {
	width: 100%;
	height: .64rem;
	border: 0;
	font-size: .4rem;
	line-height: .64rem;
	text-align: center;
	color: #333;
}
.fromBox li.input input::-webkit-input-placeholder {
	font-size: .32rem;
    color: #ccc;
}
.fromBox li.button {
	height: 1.04rem;
}
.fromBox li.button input {
	width: 100%;
	height: 1.04rem;
	border: 0;
	background: #fde863;
	font-size: .44rem;
	line-height: 1.04rem;
	text-align: center;
	color: #de1621;
}

.fromBox li.text {
	width: 100%;
	height: .64rem;
	margin-top: 2rem;
	border: 0;
	font-size: .36rem;
	line-height: .64rem;
	text-align: center;
	color: #fff;
}
