/*其他模块公用样式*/
.ec-modularBox {
  width: 100%;
  background: #fff;
  margin-bottom: .4rem;
  box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.1);
  border-radius: .2rem;
  overflow: hidden;
  float: left;
  clear: left;
}

.ec-voiceNew span {
  width: 1.99rem;
  margin-right: .32rem;
  margin-bottom: .32rem;
  background: #fff url(../images/icon_soundRecording.png) no-repeat .2rem center;
  background-size: .24rem;
  padding-left: .52rem;
  border: 1px solid #d8d8d8;
  border-radius: .32rem;
  font-size: .32rem;
  line-height: .64rem;
  text-align: left;
  color: #666;
  overflow: hidden;
  float: left;
  clear: none;
}

.ec-modularTitle {
  width: 100%;
  height: 1.12rem;
  background: #f6f6f6 url(../images/pic_decorate.png) no-repeat .4rem center;
  background-size: .08rem;
  padding-left: .72rem;
  padding-right: .4rem;
  float: left;
  clear: left;
}

.ec-modularTitle>p {
  width: auto;
  font-size: .4rem;
  line-height: 1.12rem;
  text-align: center;
  color: #666;
  float: left;
  clear: left;
}

.ec-modularTitle>span {
  width: auto;
  font-size: .32rem;
  line-height: 1.12rem;
  text-align: center;
  color: #e74c3c;
  float: right;
  clear: none;
}

/*新增保养记录 图片上传*/
.ec-maintainRecordPic li.ec-picNew {
  padding: .2rem 0;
}

.ec-maintainRecordPic li.ec-picNew>span {
  width: 100%;
  height: .8rem;
  background: url(../images/icon_newsRed.png) no-repeat center center;
  background-size: .64rem;
  display: block;
  float: left;
  clear: none;
}

.ec-maintainRecordPic li.ec-picNew>p {
  width: 100%;
  height: auto;
  background: none;
  font-size: .32rem;
  line-height: .6rem;
  text-align: center;
  color: #282828;
  position: static;
  float: left;
  clear: left;
}

.ec-maintainRecordNew li>a {
  display: block;
}

/*新增保养记录 图片上传*/
.ec-maintainRecordPic li.ec-picNew {
  padding: .2rem 0;
}

.ec-maintainRecordPic li.ec-picNew>span {
  width: 100%;
  height: .8rem;
  background: url(../images/icon_newsRed.png) no-repeat center center;
  background-size: .64rem;
  display: block;
  float: left;
  clear: none;
}

.ec-maintainRecordPic li.ec-picNew>p {
  width: 100%;
  height: auto;
  background: none;
  font-size: .32rem;
  line-height: .6rem;
  text-align: center;
  color: #282828;
  position: static;
  float: left;
  clear: left;
}

.ec-maintainRecordNew li>a {
  display: block;
}

.ec-modularTitle>span.ec-moneyText {
  font-size: .4rem;
}

.ec-modularTitleRight {
  width: auto;
  height: .64rem;
  margin-top: .24rem;
  margin-left: .32rem;
  border-left: 1px solid #d8d8d8;
  float: right;
  clear: none;
}

.ec-modularTitleRight>a {
  width: auto;
  margin-left: .32rem;
  font-size: .32rem;
  line-height: .64rem;
  text-align: center;
  color: #377de8;
  float: left;
  clear: none;
}

.ec-modularFool {
  width: 91.3%;
  margin: 0 4.35%;
  border-top: 1px solid #e8e8e8;
  padding: .2rem 0;
  float: left;
  clear: left;
}

.ec-modularFool>a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  clear: left;
}

.ec-modularFool>a>span {
  width: auto;
  padding-left: .44rem;
  background: url(../images/arrow_more.png) no-repeat left center;
  background-size: .24rem;
  font-size: .32rem;
  line-height: .56rem;
  color: #377de8;
  float: left;
  clear: left;
}

.ec-modularFool>a.ec-takeUp>span {
  background: url(../images/arrow_takeUp.png) no-repeat left center;
  background-size: .24rem;
}


/*往期保养记录*/
.ec-historicalBox {
  width: 100%;
  margin-top: -.4rem;
  float: left;
  clear: left;
}

.ec-historicalTitle {
  width: 100%;
  padding: 0 .4rem;
  position: relative;
  float: left;
  clear: left;
}

.ec-historicalTitle span {
  width: 100%;
  height: .6rem;
  border-bottom: 1px solid #d8d8d8;
  display: block;
  float: left;
  clear: left;
}

.ec-historicalTitle p {
  width: 20%;
  height: auto;
  margin: -.18rem 40% .24rem;
  background: #f3f3f3;
  font-size: .36rem;
  line-height: .36rem;
  text-align: center;
  color: #d8d8d8;
  float: left;
  clear: left;
}

.ec-historicalBox .ec-modularTitle>p {
  color: #999;
}

.ec-picNewBox {
  display: none;
}

.ec-historicalRecords .ec-voiceNew {
  display: none;
}

/*往期保养记录 编辑*/
.ec-maintainRecordEdit .ec-maintainRecordPic ul.ec-picNewBox {
  display: block;
}

.ec-maintainRecordEdit .ec-maintainRecordPic li>a {
  display: block;
}

.ec-historicalRecords .ec-maintainRecordEdit .ec-voiceMain {
  width: 100%;
  float: left;
  clear: none;
}

.ec-historicalRecords .ec-maintainRecordEdit .ec-voiceNew {
  width: 2.31rem;
  display: block;
  float: left;
  clear: none;
}

.ec-historicalRecords .ec-maintainRecordEdit .ec-voiceMain span a {
  display: block;
}

/*xinjiaxe */
.ec-voiceMain span a {
  width: .64rem;
  font-size: .36rem;
  line-height: .56rem;
  text-align: center;
  color: #e74c3c;
  display: none;
  float: right;
  clear: none;
}

.ec-voiceMain span.ec-selected {
  background: #e74c3c url(../images/icon_voiceWhite.png) no-repeat .2rem center !important;
  background-size: .2rem !important;
  color: #fff !important;
}

.ec-voiceMain span.ec-selected a {
  color: #fff !important;
}

.ec-voiceMain span.ec-voiceTextBox {
  width: 100%;
  height: auto;
  border: 0;
  border-radius: 0;
  background: none;
  padding: 0 .4rem 0 0;
  margin: 0 0 .4rem 0;
  float: left;
  clear: left;
}

.ec-voiceMain span.ec-voiceTextBox textarea {
  width: 100%;
  border: 1px solid #d8d8d8;
  border-radius: 0 .08rem;
  padding: .16rem;
  font-size: .32rem;
  line-height: .56rem;
  text-align: justify;
  color: #282828;
  float: left;
  clear: left;
}

.ec-voiceMain span.ec-voiceTextBox textarea.ec-readonly {
  border: none;
}

.ec-voiceMain span.ec-voiceTextBox b {
  width: 100%;
  background: #fef4f4;
  border: 1px solid #e64c3c;
  border-radius: 0 .08rem;
  padding: 0;
  font-size: .32rem;
  font-weight: normal;
  line-height: .64rem;
  text-align: center;
  color: #e74c3c;
  display: none;
  float: left;
  clear: left;
}


/*保养记录*/
.ec-maintainRecord {
  width: 100%;
  padding: 0 0 0 .4rem;
  float: left;
  clear: left;
  padding-top: .32rem;
}

.ec-maintainRecord>span {
  width: 100%;
  padding-right: .4rem;
  font-size: .32rem;
  line-height: .8rem;
  text-align: center;
  color: #bcbcbc;
  float: left;
  clear: left;
}

.ec-maintainRecordPic {
  width: 100%;
  float: left;
  clear: left;
}

.ec-maintainRecordPic ul {
  width: 100%;
  float: left;
  clear: left;
}

.ec-maintainRecordPic li {
  width: 1.8rem;
  height: auto;
  border: 1px solid #e8e8e8;
  margin: 0 .4rem .32rem 0;
  position: relative;
  float: left;
  clear: none;
}

.ec-maintainRecordPic li>span {
  width: 100%;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  clear: none;
}

.ec-maintainRecordPic li>span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ec-maintainRecordPic li>p {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.68);
  font-size: .32rem;
  line-height: .6rem;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.ec-maintainRecordPic li>a {
  width: .48rem;
  height: .48rem;
  background: url(../images/icon_empty.png) no-repeat center center;
  background-size: 100%;
  position: absolute;
  top: -.2rem;
  right: -.2rem;
  z-index: 3;
  display: none;
}

/*语音留言*/
.ec-voiceBox {
  width: 100%;
  border-top: 1px solid #e8e8e8;
  padding: .32rem 0 0 1.8rem;
  position: relative;
  float: left;
  clear: left;
}

.ec-voiceBox p {
  width: 1.8rem;
  font-size: .36rem;
  line-height: .64rem;
  text-align: left;
  color: #999;
  position: absolute;
  left: 0;
  top: .32rem;
  z-index: 2;
}

.ec-voiceMain {
  width: 100%;
  float: right;
  clear: none;
}

.ec-voiceMain span {
  width: 1.99rem;
  margin-right: .32rem;
  margin-bottom: .32rem;
  background: #fff url(../images/icon_voice.png) no-repeat .2rem center;
  background-size: .2rem;
  padding-left: .52rem;
  border: 1px solid #e74c3c;
  border-radius: .32rem;
  font-size: .36rem;
  line-height: .64rem;
  text-align: left;
  color: #e74c3c;
  overflow: hidden;
  float: left;
  clear: none;
}

.ec-voiceMain span a {
  width: .64rem;
  font-size: .36rem;
  line-height: .56rem;
  text-align: center;
  color: #e74c3c;
  display: none;
  float: right;
  clear: none;
}

/*保养记录页面 修理厂 收款金额*/
.ec-maintainRecordPrice {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: .32rem;
  margin-top: -.32rem;
  float: left;
  clear: left;
}

.ec-maintainRecordPrice>span {
  width: auto;
  font-size: .32rem;
  line-height: 1rem;
  text-align: left;
  color: #bcbcbc;
  float: left;
  clear: none;
}

.ec-maintainRecordPrice>p {
  width: auto;
  font-size: .28rem;
  line-height: 1rem;
  text-align: left;
  color: #e74c3c;
  float: left;
  clear: none;
}

.ec-maintainRecordPrice>p>b {
  font-size: .36rem;
  font-weight: normal;
}

.ec-maintainRecordPriceNoPic {
  margin-bottom: 0;
  border: 0;
}

/*1217 当前里程*/
.eo-currentMileage {
  display: block;
  width: 100%;
  font-size: .32rem;
  line-height: .48rem;
  text-align: left;
  color: #999;
  padding-bottom: .32rem;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: .32rem;
}
/*.ec-maintainRecordEdit .eo-currentMileage {*/
/**/
/*}*/
.eo-currentMileage span {
  width: auto;
  font-size: .36rem;
  color: #282828;

}
.eo-currentMileage a {
  width: auto;
  margin-right: .4rem;
  font-size: .32rem;
  color: #377de8;
  float: right;
  clear: none;

}
.eo-currentMileage>div{
  width: auto;
  float: right;
  clear: none;
}
