
/*我的账单相关*/
.dz-myBillPage {
	width: 100%;
	float: left;
	clear: left;
}

.dz-myBillShop {
	width: 100%;
	height: auto;
	background: #fff;
	margin-bottom: .32rem;
	padding: .2rem .32rem 0;
	float: left;
	clear: left;
}
.dz-myBillShop dt {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #e8e8e8;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	clear: left;
}
.dz-myBillShop dt p {
	width: auto;
	height: auto;
	padding: 0 .56rem;
	background: url(../images/icon_priceEditing.png) no-repeat right center;
	background-size: .36rem;
	font-size: .36rem;
	line-height: .96rem;
	text-align: center;
	color: #333;
	float: left;
	clear: left;
}
.dz-myBillShop dd {
	width: 50%;
	height: auto;
	float: left;
	clear: none;
}
.dz-myBillShop dd span {
	width: 100%;
	height: auto;
	font-size: .28rem;
	line-height: .6rem;
	text-align: center;
	color: #999;
	float: left;
	clear: none;
}
.dz-myBillShop dd p {
	width: 100%;
	height: 0.9rem;
	padding: .16rem 0 .16rem .56rem;
	font-size: .32rem;
	line-height: .6rem;
	text-align: left;
	color: #333;
	float: left;
	clear: none;
}
.dz-myBillShop dd.dz-dateBox {
	width: 70%;
	padding-right: .16rem;
}
.dz-myBillShop dd.dz-stateBox {
	width: 30%;
	padding-left: .16rem;
	position: relative;
}
.dz-myBillShop dd.dz-dateBox span {
	background: url(../images/icon_priceEditing.png) no-repeat 68% center;
	background-size: .36rem;
}
.dz-myBillShop dd.dz-stateBox span {
	background: url(../images/icon_priceEditing.png) no-repeat right center;
	background-size: .36rem;
}
.dz-myBillShop dd.dz-dateBox p {
	background: url(../images/icon_date.png) no-repeat left center;
	background-size: .36rem;
}
.dz-myBillShop dd.dz-stateBox p {
	background: url(../images/icon_state.png) no-repeat left center;
	background-size: .36rem;
}
.dz-myBillShop dd.dz-dateEditBox {
	width: 50%;
}
.dz-myBillShop dd.dz-dateEditBox p {
	text-align: center;
	font-size: .4rem;
	padding: 0;
}


.dz-myBillTable {
	width: 100%;
	height: auto;
	/*background: #fff;*/
	float: left;
	clear: left;
}
.dz-myBillTable table {
	width: 100%;
	float: left;
	clear: left;
}
.dz-myBillTable table td.dz-tdBrand {
	width: 18%;
}
.dz-myBillTable table td.dz-tdCategory {
	width: 18%;
}
.dz-myBillTable table td.dz-tdCommodity {
	width: 36%;
}
.dz-myBillTable table td.dz-tdNumber {
	width: 10%;
}
.dz-myBillTable table td.dz-tdPrice {
	width: 18%;
}
.dz-myBillTable thead td {
	border-bottom: 1px solid #e74c3c;
  background: #fff;
	font-size: .32rem;
	line-height: .8rem;
	text-align: center;
	color: #e74c3c;
}
.dz-myBillTable tbody td {
	padding: .1rem 0;
	border-bottom: 1px solid #e8e8e8;
  background: #fff;
	font-size: .32rem;
	line-height: .6rem;
	text-align: center;
	color: #666;
}
.dz-myBillTable tbody td.dz-dataNo {
  width: 100%;
  height: 9.4rem;
  background: none;
  border-bottom: 0;
}
.dz-myBillTable tbody td.dz-dataNo span {
  width: auto;
  min-width: 4.8rem;
  background: url(../images/icon_myBillDataNo.png) no-repeat center top;
  background-size: 2.32rem;
  padding-top: 2.2rem;
  font-size: .32rem;
  line-height: .96rem;
  text-align: center;
  color: #999;
  display: block;
  margin: 0 auto;
}



.dz-myBillTotal {
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ccc;;
	float: left;
	clear: left;
}
.dz-myBillTotal ul {
	width: 100%;
	float: left;
	clear: left;
}
.dz-myBillTotal li {
	width: 50%;
	background: #fff;
	padding: .2rem .32rem;
	border-right: 1px solid #d8d8d8;
	float: left;
	clear: none;
}
.dz-myBillTotal li span {
	width: 100%;
	font-size: .32rem;
	line-height: .64rem;
	text-align: center;
	color: #999;
	float: left;
	clear: none;
}
.dz-myBillTotal li p {
	width: 100%;
	font-size: .44rem;
	line-height: .8rem;
	text-align: center;
	color: #333;
	float: left;
	clear: none;
}

/*日期编辑*/
.dz-myBillDate {
	padding: .2rem .32rem;
}
.dz-myBillDate span {
	width: 50%;
	float: left;
	clear: none;
}

/*门店切换*/
.dz-switchShopPop {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.48);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
}
.dz-switchShopBox {
	width: 100%;
    height: auto;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 56;
}
.dz-switchShopHead {
	width: 100%;
	height: 1.04rem;
	background: #edf2f7;
	float: left;
	clear: left;
}
.dz-switchShopHead p {
	width: auto;
	height: 1.04rem;
	margin-left: .32rem;
	font-size: .4rem;
	line-height: 1.04rem;
	text-align: left;
	color: #878f9e;
	float: left;
	clear: left;
}
.dz-switchShopHead a {
	width: auto;
	height: 1.04rem;
	margin-right: .32rem;
	font-size: .56rem;
	line-height: .96rem;
	text-align: left;
	color: #d53533;
	float: right;
	clear: none;
}
.dz-switchShopMain {
	width: 100%;
	height: auto;
	min-height: 8rem;
	max-height: 12rem;
	overflow-x: hidden;
	overflow-y: auto;
	float: left;
	clear: left;
}
.dz-switchShopMain ul {
	width: 100%;
	padding-left: .32rem;
	float: left;
	clear: left;
}
.dz-switchShopMain ul li {
	width: 100%;
	padding: .2rem 0;
	border-bottom: 1px solid #d8d8d8;
	background: url(../images/arrow_gray.png) no-repeat 9.2rem center;
	background-size: .16rem;
	float: left;
	clear: left;
}
.dz-switchShopMain ul li p {
	width: 100%;
	font-size: .4rem;
	line-height: .8rem;
	text-align: left;
	color: #333;
	float: left;
	clear: left;
}
.dz-switchShopMain ul li span {
	width: 100%;
	font-size: .32rem;
	line-height: .64rem;
	text-align: left;
	color: #999;
	float: left;
	clear: left;
}

/*状态筛选*/
.dz-openBox {
	width: 100%;
	height: auto;
	position: absolute;
	top: .8rem;
	left: -.32rem;
	z-index: 6;
}
.dz-openJiao {
    width:0;
    height:0;
    border-width:0 .16rem .16rem;
    margin: 0 auto;
    border-style:solid;
    border-color:transparent transparent #000;
    position:relative;
    opacity:0.8;
}
.dz-openMain {
	width: 100%;
	height: auto;
	max-height: 10rem;
	background: rgba(0,0,0,0.78);
	border-radius: .2rem;
	overflow-x: hidden;
	overflow-y: auto;
	float: left;
	clear: left;
}
.dz-openMain a {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #ccc;
	font-size: .32rem;
	line-height: 1.04rem;
	text-align: center;
	color: #fff;
	float: left;
	clear: left;
}













