
/*增加别名部分的样式*/
.cv-alias {
	width: 100%;
	height: .72rem;
	overflow: hidden;
	float: left;
	clear: left;
}
.cv-alias dt,.cv-alias dd {
	width: auto;
	font-size: .32rem;
	line-height: .72rem;
	text-align: left;
	color: #666;
	float: left;
	clear: left;
}
.cv-alias dt {
	background: url(../images/arrow_gray_down.png) no-repeat center right;
	background-size: .28rem;
	padding-right: .56rem;
}
.cv-takeUp {
	height: auto;
}
.cv-takeUp dt {
	background: url(../images/arrow_gray_up.png) no-repeat center right;
	background-size: .28rem;
}

/*弹层主体的调整*/
.cc-seePriceMain {
    padding: 1.04rem 0 2.4rem;
}
.cv-universalPartsNew {
	width: 100%;
	height: auto;
	padding: .36rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	clear: left;
}
.cv-universalPartsNew a {
	width: auto;
	height: auto;
	background: url(../images/icon_news2.png) no-repeat center left;
	background-size: .44rem;
	padding-left: .64rem;
	font-size: .36rem;
	line-height: .64rem;
	text-align: center;
	color: #2d83e6;
	float: left;
	clear: left;
}

/*通用件商品的展示*/
.cc-seePriceOne li.cv-seePriceProduct p {
	width: 90%;
	max-width: none;
}
.cc-seePriceOne li.cv-seePriceProduct span {
	line-height: .8rem;
	position: static;
	float: left;
	clear: left;
}
.cv-number {
	width: auto;
	float: right;
	clear: none;
}
.cv-number a {
	width: .8rem;
	height: .8rem;
	border: 1px solid #d8d8d8;
	border-radius: .4rem;
	background: #fff;
	font-size: .48rem;
	line-height: .76rem;
	text-align: center;
	color: #e74c3c;
	float: left;
	clear: none;
}
.cv-number a.cv-left {
	color: #999;
}
.cv-number b {
	width: 1.08rem;
	height: .8rem;
	font-size: .36rem;
	font-weight: normal;
	line-height: .8rem;
	text-align: center;
	color: #333;
	float: left;
	clear: none;
}

/*底部按钮的调整*/
.cc-seePriceFool {
	height: auto;
}
.cc-seePriceFool a {
	width: 36%;
	height: .96rem;
	border-radius: .48rem;
	margin: .16rem 0;
	margin-left: 32%;
	line-height: .96rem;
	float: left;
	clear: left;
}

/*底部总价部分的样式调整*/
.cv-totalPrice {
	width: 100%;
	height: auto;
	background: #fff8ee;
	border-top: 1px solid #ffdba1;
	border-bottom: 1px solid #d8d8d8;
	float: left;
	clear: left;
}
.cv-totalPrice li.cv-left {
	width: auto;
	height: auto;
	font-size: .32rem;
	line-height: 1.04rem;
	margin-left: .32rem;
	text-align: left;
	color: #f39c12;
	float: left;
	clear: none;
}
.cv-totalPrice li.cv-left a {
	width: auto;
	height: auto;
	margin: 0;
	background: none;
	padding: 0;
	font-size: .32rem;
	line-height: 1.04rem;
	text-align: left;
	color: #2d83e6;
	display: inline-block;
	float: none;
	clear: none;
}
.cv-totalPrice li.cv-right {
	width: auto;
	height: auto;
	margin-right: .32rem;
	font-size: .32rem;
	line-height: 1.04rem;
	text-align: left;
	color: #f39c12;
	float: right;
	clear: none;
}
.cv-totalPrice li.cv-right span {
	width: auto;
	height: auto;
	font-size: .32rem;
	line-height: 1.04rem;
	text-align: left;
	color: #333;
	float: left;
	clear: none;
}
.cv-totalPrice li.cv-right span b {
	font-size: .36rem;
	font-weight: normal;
	color: #e74c3c;
}
.cv-totalPrice li.cv-right p {
	width: auto;
	height: auto;
	font-size: .28rem;
	line-height: 1.04rem;
	text-align: left;
	color: #999;
	float: left;
	clear: none;
}
.cv-totalPrice li.cv-right p b {
	margin-right: .12rem;
	font-size: .4rem;
	font-weight: normal;
	color: #e74c3c;
}

/*备货相关样式*/
.cc-seePriceOne li.cc-seePriceProduct a.ce-number {
    right: .32rem;
}
.cc-seePriceOne li.cc-seePriceProduct a.ce-number {
    width: auto;
    height: auto;
    font-size: .36rem;
    line-height: .72rem;
    text-align: left;
    color: #2d83e6;
    position: absolute;
    top: .28rem;
    right: 2.2rem;
    z-index: 3;
}

/*备货关联结果的展示*/
.cv-relationBox {
	width: 100%;
	overflow: hidden;
	margin-top: -1px;
	background: #fff;
	border: 1px solid #d8d8d8;
	border-bottom: 2px solid #d8d8d8;
	border-top: 0;
	position: absolute;
	left: 0;
	top: 2.14rem;
	z-index: 3;
}
.cv-relationBox dl {
	width: 102%;
	height: auto;
	max-height: 7.2rem;
	overflow-x: hidden;
	overflow-y: auto;
	margin-top: -1px;
	float: left;
	clear: left;
}
.cv-relationBox dd {
	width: 100%;
	border-top: 1px solid #d8d8d8;
	padding: .2rem .32rem;
	font-size: .32rem;
	line-height: .54rem;
	text-align: left;
	color: #333;
	float: left;
	clear: left;
}

/*页面样式*/
.cc-seePriceTop {
	height: auto;
	position: fixed;
	top:0rem;
}
.cc-seePriceTop span {
	width:100%;
	font-size:.4rem;
	color:#333;
	text-align: center;
}
.cv-stockUpQuery {
	width: 100%;
	padding: 0 0 .32rem;
	background: #fff;
	position: relative;
	float: left;
	clear: left;
}
.cv-stockUpQuery span {
	width: 100%;
	border: 1px solid #d8d8d8;
	background: url(../images/icon_search.png) no-repeat .2rem center;
	background-size: .4rem;
	padding: .2rem .2rem .2rem .8rem;
	position: relative;
	z-index: 5;
	float: left;
	clear: left;
}
.cv-stockUpQuery span input {
	width: 100%;
	height: .64rem;
	border: 0;
	font-size: .32rem;
	line-height: .64rem;
	text-align: left;
	color: #333;
	float: left;
	clear: none;
}
.cv-stockUpQuery span a {
	width: .64rem;
	height: .64rem;
	background: url(../images/icon_search.png) no-repeat center center;
	background-size: .4rem;
	float: right;
	clear: none;
}
.cc-seePriceOne li.cc-seePriceProduct span {
	float: left;
	clear: left;
	position: static;
}
.cc-seePriceOne li.cc-seePriceProduct a.ce-number {
	right: .32rem;
}
.cc-seePriceOne li.cc-seePriceProduct a.cv-textlike {
	width: auto;
	padding: 0;
	margin-left: .32rem;
	font-size: .36rem;
	line-height: .72rem;
	text-align: left;
	color: #2d83e6;
	position: static;
	float: right;
	clear: none;
}
.cc-seePriceMain span.cv-goodsNoBox {
	width: 100%;
	margin-top: 2.4rem;
	padding-top: 2.48rem;
	background: url(../images/pic_goodsNo.png) no-repeat center top;
	background-size: 2.88rem;
	font-size: .36rem;
	line-height: 1.04rem;
	text-align: center;
	color: #9baaba;
	float: left;
	clear: left;
}
.cc-seePriceMain a.cv-universalPartsNewButton {
	width: 40%;
	height: auto;
	margin: 0 30% 0;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	clear: left;
}
.cc-seePriceMain a.cv-universalPartsNewButton b {
	width: auto;
	height: auto;
	background: url(../images/icon_news2.png) no-repeat center left;
	background-size: .44rem;
	padding-left: .64rem;
	font-size: .36rem;
	font-weight: normal;
	line-height: .64rem;
	text-align: center;
	color: #2d83e6;
	float: left;
	clear: left;
}
/*调整*/
.cc-seePriceOne li.cc-seePriceCategory {
	display: none;
}
.cc-seePriceOne li.cc-seePriceProduct {
	background: none;
}
/*备货相关调整*/
.cc-seePriceOne li.cc-seePriceProduct p b {
	color: #181818;
}
/*0709用量编辑弹层的样式*/
.cf-numberEditPop {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.64);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 120;
}
.cf-numberEditPop ul {
	width: 8rem;
	height: 4.8rem;
	background: #fff;
	border-radius: .32rem;
	margin: -2.4rem 0 0;
	position: fixed;
	top: 50%;
	left: 1rem;
	z-index: 32;
}
.cf-numberEditPop li {
	width: 100%;
	float: left;
	clear: left;
}
.cf-numberEditPop li.cf-numberEdit {
	width: 100%;
	height: 3.52rem;
	padding: .48rem 1.62rem .72rem;
	float: left;
	clear: left;
}
.cf-numberEditPop li span {
	width: auto;
	height: 1.16rem;
	border: 1px solid #d8d8d8;
	font-size: .36rem;
	line-height: .78rem;
	text-align: center;
	color: #333;
	display: block;
	float: left;
	clear: left;
}
.cf-numberEditPop li p {
	width: 100%;
	height: 1.16rem;
	font-size: .4rem;
	line-height: 1.16rem;
	text-align: center;
	color: #333;
	display: block;
	float: left;
	clear: left;
}
.cf-numberEditPop li span a {
	width: 1.1rem;
	height: 1.16rem;
	font-size: .48rem;
	line-height: 1.08rem;
	text-align: center;
	color: #888;
	display: block;
	float: left;
	clear: none;
}
.cf-numberEditPop li span b {
	width: 2.4rem;
	height: 1.16rem;
	border-right: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	font-size: .6rem;
	font-weight: normal;
	line-height: 1.16rem;
	text-align: center;
	color: #333;
	display: block;
	float: left;
	clear: none;
}
.cf-numberEditPop li.cf-numberEditButton {
	height: 1.28rem;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid #ccc;
}
.cf-numberEditPop li.cf-numberEditButton a {
	width: 50%;
	height: auto;
	font-size: .4rem;
	line-height: 1.28rem;
	text-align: center;
	color: #2c83e6;
	display: inline-block;
	float: left;
	clear: none;
}
.cf-numberEditPop li.cf-numberEditButton a.cf-buttonLeft {
	border-right: 1px solid #ccc;
}










