
.cq-orderHandle {
	width: 100%;
	height: auto;
	background: #fff;
	float: left;
	clear: left;
}

.cq-mobile,.cq-computer,.cq-picBox,.cq-picBox img {
	width: 100%;
	float: left;
	clear: left;
}

.cq-title {
	width: 100%;
	height: 2.08rem;
	padding-top: 1.08rem;
	padding-left: 2.24rem;
	box-sizing: border-box;
	float: left;
	clear: left;
}
.cq-title1 {
	background: url(../images/Landing/pic_title1.png) no-repeat center center;
	background-size: 100%;
}
.cq-title2 {
	background: url(../images/Landing/pic_title2.png) no-repeat center center;
	background-size: 100%;
}
.cq-title1 a {
	width: 2.56rem;
	height: .72rem;
	border: 1px solid #fff;
	border-radius: .36rem;
	font-size: .36rem;
	line-height: .64rem;
	text-align: center;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	clear: left;
}
.cq-button {
	width: 100%;
	padding: .32rem 0 .64rem;
	text-align: center;
	float: left;
	clear: left;
}
.cq-button a {
	width: 3.2rem;
	height: 1.04rem;
	margin: 0 auto;
	border: 1px solid #fd3b5c;
	border-radius: .52rem;
	font-size: .4rem;
	line-height: .64rem;
	text-align: center;
	color: #fd3b5c;
	display: flex;
	justify-content: center;
	align-items: center;
}

















