.ad-pageCenter {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto; 
	box-sizing: border-box;
	float: left;
	clear: left;
}

.bc-pageCenter {
	background: #fff;
}

.bc-pageCenter ul {
	width: 100%;
	height: auto;
	float: left;
	clear: left;
}
.bc-pageCenter ul li {
	width: 100%;
	height: auto;
	padding-left: .4rem;
	float: left;
	clear: left;
}
.bc-pageCenter ul li.bc-internationalBrandTitle {
	padding: 0;
	height: 1.52rem;
	font-size: .44rem;
	line-height: 1.52rem;
	text-align: center;
	color: #333;
	font-weight: bold;
}
.bc-pageCenter ul li.bc-internationalBrandMain a {
	width: 2.853rem;
	height: auto;
	margin-right: .32rem;
	margin-bottom: .32rem;
	background: url(../../images/choice_hookGray.png) no-repeat bottom right;
	background-size: .48rem;
	border: 1px solid #d8d8d8;
	font-size: .4rem;
	line-height: 1.08rem;
	text-align: center;
	color: #666;
	display: block;
	float: left;
	clear: none;
}
.bc-pageCenter ul li.bc-internationalBrandMain a.bc-selected {
	background: url(../../images/choice_hookRed.png) no-repeat bottom right;
	background-size: .48rem;
	border: 1px solid #d53533;
	color: #d53533;
}
.bc-pageCenter ul li.bc-internationalBrandMain a.bc-disable {
	background-color: #f9f9f9;
	color: #bcbcbc;
	border: 1px solid #e8e8e8;
}

.bc-pageFool {
	width: 100%;
	height: auto;
	padding: .32rem 0;
	border-top: 1px solid #d8d8d8;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.bc-pageFool a {
	width: 4.8rem;
	height: 1.16rem;
	background: #d53533;
	border-radius: .58rem;
	margin: 0 auto;
	font-size: .48rem;
	line-height: 1.16rem;
	text-align: center;
	color: #fff;
	display: block;
}



.bc-internationalBrandPop {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.64);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 32;
}
.bc-internationalBrandPop ul {
	width: 8rem;
	height: 4.24rem;
	background-color: #fff;
	border-radius: .24rem;
	position: fixed;
	top: 50%;
	left: 1rem;
	margin-top: -2.12rem;
	z-index: 32;
}
.bc-internationalBrandPop li {
	width: 100%;
	height: 2.96rem;
	padding-top: .92rem;
	font-size: .36rem;
	line-height: .64rem;
	text-align: center;
	color: #333;
	box-sizing: border-box;
	float: left;
	clear: left;
}
.bc-internationalBrandPop li.bc-internationalBrandButton {
	width: 100%;
	height: 1.28rem;
	padding-top: 0;
	border-top: 1px solid #dce6ef;
	font-size: .36rem;
	line-height: 1.28rem;
	text-align: center;
	color: #333;
	box-sizing: border-box;
	float: left;
	clear: left;
}
.bc-internationalBrandPop li.bc-internationalBrandButton a {
	color: #2c83e6;
}
.bc-internationalBrandPop ul>a {
	width: .64rem;
	height: .64rem;
	font-size: .52rem;
	line-height: .64rem;
	text-align: center;
	color: #d53533;
	position: absolute;
	right: .2rem;
	top: .2rem;
	z-index: 34;
}
