
/*国际品牌相关弹层及支付相关样式合集*/

/*国际品牌相关弹层*/
.dh-pop {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.48);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
}
.dh-popBox {
	width: 8.8rem;
	height: 6.4rem;
	margin: -3.2rem 0 0 -4.4rem;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 300;
}
.dh-popBox>a {
    width: .68rem;
    height: .68rem;
    background: url(../../images/icon_closeButton.png) no-repeat center center;
    background-size: .64rem;
    position: absolute;
    bottom: 0.7rem;
    left: 50%;
    margin-left: -.34rem;
    z-index: 64;
}

.dh-internationalPopMain {
	width: 8.8rem;
	height: 6.4rem;
	background: #fff;
	border-radius: .32rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	clear: left;
}
.dh-popBox>span {
  width: .64rem;
  height: 2.4rem;
  background: url(../../images/button_close_top.png) no-repeat center top;
  background-size: .64rem;
  display: block;
  position: absolute;
  top: -2.4rem;
  right: .48rem;
  z-index: 30;
}
.dh-popBox>span>a {
  width: .64rem;
  height: .64rem;
  display: block;
  float: left;
  clear: left;
}
.dh-internationalPopMain dl {
	width: auto;
	padding-top: .48rem;
	float: left;
	clear: left;
}
.dh-internationalPopMain dt {
	width: 100%;
	font-size: .4rem;
	line-height: 1.08rem;
	text-align: center;
	color: #333;
	float: left;
	clear: left;
}
.dh-internationalPopMain dd {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	clear: left;
}
.dh-internationalPopMain dd a.dh-textLink {
	font-size: .4rem;
	line-height: .96rem;
	color: #1576e3;
}
.dh-internationalPopMain dd a.dh-button {
	padding: 0 .64rem;
	/*margin-top: .64rem;*/
	background: #d53533;
	border-radius: .52rem;
	font-size: .48rem;
	line-height: 1.04rem;
	text-align: center;
	color: #fff;
}
.dh-internationalPopMain dd a.dl-textLink {
  padding: 0 .48rem;
  margin: .64rem .16rem 0;
  background: #fff;
  border: 1px solid #acacac;
  border-radius: .52rem;
  font-size: .4rem;
  line-height: 1.04rem;
  text-align: center;
  color: #999;
}
.dh-internationalPopMain dd a.dl-button {
  padding: 0 .84rem 0 .48rem;
  margin: .64rem .16rem 0;
  background: #fff url(../../images/arrow_double_red.png) no-repeat 3rem center;
  border: 1px solid #d53533;
  background-size: .28rem;
  border-radius: .52rem;
  font-size: .4rem;
  line-height: 1.04rem;
  text-align: center;
  color: #d53533;
}
.dh-internationalPopMain dd a.dh-knowLink {
	font-size: .5rem;
  margin-top: .32rem;
	line-height: .96rem;
	color: #1576e3;
}

/*申请持续免费使用弹层*/
.dh-continuedFree .dh-popBox {
	height: 8rem;
	margin-top: -4rem;
}
.dh-continuedFree .dh-popBox .dh-popMain {
	width: 8.8rem;
	height: 5rem;
	background: #fff;
	border-radius: .32rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	float: left;
	clear: left;
}
.dh-continuedFree .dh-popBox .dh-popMain dl {
	width: 8rem;
	padding-bottom: 1.4rem;
	float: left;
	clear: left;
}
.dh-continuedFree .dh-popBox .dh-popMain dt {
	width: 100%;
	height: auto;
	padding-top: 1.04rem;
	background: url(../../images/icon_success.png) no-repeat center top;
	background-size: 1.04rem;
	font-size: .44rem;
	line-height: .76rem;
	text-align: center;
	color: #1abc9c;
	float: left;
	clear: left;
}
.dh-continuedFree .dh-popBox .dh-popMain dd {
	width: 100%;
	height: auto;
	font-size: .36rem;
	line-height: .64rem;
	text-align: center;
	color: #999;
	float: left;
	clear: left;
}
.dh-continuedFree .dh-popBox .dh-popMain dd.dh-continuedFreeExplain {
	width: 100%;
	height: auto;
	margin-top: .56rem;
	background: #f2f2f2;
	border-radius: .2rem;
	padding: .2rem .32rem;
	float: left;
	clear: left;
}
.dh-continuedFree .dh-popBox .dh-popMain dd.dh-continuedFreeExplain p {
	width: 100%;
	height: auto;
	font-size: .36rem;
	line-height: .64rem;
	text-align: left;
	color: #666;
	float: left;
	clear: left;
}
.dh-continuedFree .dh-popBox .dh-popMain dd.dh-continuedFreeExplain span {
	width: 100%;
	height: auto;
	font-size: .32rem;
	line-height: .64rem;
	text-align: justify;
	color: #999;
	float: left;
	clear: left;
}

/*支付成功弹层*/
.dh-paymentSuccess {
	width: 8.8rem;
	height: 6.4rem;
	background: #fff;
	border-radius: .32rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	clear: left;
}
.dh-paymentSuccess dl {
	width: auto;
	padding-top: .48rem;
	float: left;
	clear: left;
}
.dh-paymentSuccess dt {
	width: 100%;
	height: auto;
	padding-top: 1.04rem;
	background: url(../../images/icon_success.png) no-repeat center top;
	background-size: 1.04rem;
	font-size: .44rem;
	line-height: .76rem;
	text-align: center;
	color: #1abc9c;
	float: left;
	clear: left;
}
.dh-paymentSuccess dd {
	width: 100%;
	height: auto;
	font-size: .36rem;
	line-height: .64rem;
	text-align: center;
	color: #333;
	float: left;
	clear: left;
}
.dh-paymentSuccess dd.dh-button {
	display: flex;
	justify-content: center;
	align-items: center;
}
.dh-paymentSuccess dd.dh-button a {
	width: 3.2rem;
	height: 1.04rem;
	margin-top: .64rem;
	background: #fff;
	border: 1px solid #d53533;
	border-radius: .52rem;
	font-size: .4rem;
	line-height: 1.04rem;
	text-align: center;
	color: #d53533;
}
/*0831 补充弹层的样式*/
.dh-obtainOpportunity .dh-popBox {
  height: 4.8rem;
  margin-top: -2.4rem;
}
.dh-obtainOpportunity .dh-popBox .dh-popMain {
  width: 8.8rem;
  height: 4.8rem;
  background: #fff;
  border-radius: .32rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  clear: left;
}
.dh-obtainOpportunity .dh-popBox .dh-popMain dl {
  width: 8rem;
  float: left;
  clear: left;
}
.dh-obtainOpportunity .dh-popBox .dh-popMain dd {
  width: 100%;
  height: auto;
  font-size: .36rem;
  line-height: .64rem;
  text-align: center;
  color: #999;
  float: left;
  clear: left;
}
.dh-obtainOpportunity .dh-popBox .dh-popMain dd p {
  width: 100%;
  height: auto;
  margin-bottom: .32rem;
  font-size: .44rem;
  line-height: .96rem;
  text-align: left;
  color: #666;
  float: left;
  clear: left;
}
.dh-obtainOpportunity .dh-popBox .dh-popMain dd span {
  width: 100%;
  height: auto;
  font-size: .36rem;
  line-height: .72rem;
  text-align: justify;
  color: #999;
  float: left;
  clear: left;
}















