
/*支付页面样式调整*/
.paymentPage {
	width: 100%;
	padding-bottom: 1.28rem;
	float: left;
	clear: left;
}

.el-paymentActivities {
	width: 100%;
	background: #FFFBF6;
	border-bottom: 1px solid #FFD48F;
	font-size: .4rem;
	line-height: .96rem;
	text-align: center;
	color: #F39C12;
	float: left;
	clear: left;
}

.el-paymentDiscount {
	width: 100%;
	margin-top: .4rem;
	background: #fff;
	border-top: 1px solid #d1deea;
	border-bottom: 1px solid #d1deea;
	float: left;
	clear: left;
}
.el-paymentDiscount dt {
	width: 100%;
	padding: 0 .4rem;
	border-bottom: 1px solid #d3e0eB;
	float: left;
	clear: left;
}
.el-paymentDiscount dt p {
	width: auto;
	font-size: .36rem;
	line-height: .96rem;
	text-align: left;
	color: #999;
	float: left;
	clear: none;
}
.el-paymentDiscount dt span {
	width: auto;
	font-size: .36rem;
	line-height: .96rem;
	text-align: left;
	color: #454545;
	float: right;
	clear: none;
}
.el-paymentDiscount dt span b {
	width: auto;
	font-size: .44rem;
	font-weight: normal;
	line-height: .96rem;
	text-align: left;
	color: #e74c3c;
	float: right;
	clear: none;
}
.el-paymentDiscount dd {
	width: 100%;
	padding: .24rem 0 .24rem 1rem;
	background: url(../../images/choice_default.png) no-repeat .4rem center;
	background-size: .4rem;
	float: left;
	clear: left;
}
.el-paymentDiscount dd.el-selected {
	background-image: url(../../images/choice_current.png);
}
.el-paymentDiscount dd.el-prohibit {
	background-image: url(../../images/choice_prohibit.png);
}


.el-paymentDiscount dd p {
	width: auto;
	font-size: .36rem;
	line-height: .48rem;
	text-align: left;
	color: #282828;
	float: left;
	clear: none;
}
.el-paymentDiscount dd p b {
	width: auto;
	margin: 0 .12rem;
	font-size: .4rem;
	font-weight: normal;
	line-height: .48rem;
	text-align: left;
	color: #e74c3c;
	display: inline-block;
}
.el-paymentDiscount dd span {
	width: auto;
  max-width: 6.4rem;
	font-size: .28rem;
	line-height: .48rem;
	text-align: left;
	color: #999;
	float: left;
	clear: left;
}
.el-paymentDiscount dd span b {
	width: auto;
	margin: 0 .12rem;
	font-size: .32rem;
	line-height: .48rem;
	text-align: left;
	color: #333;
	display: inline-block;
}
.el-paymentDiscount dd.el-prohibit span {
	color: #e74c3c;
}


.dh-choiceService {
	width: 100%;
	padding: .32rem 0 0 .4rem;
	float: left;
	clear: left;
}
.dh-choiceService a {
	width: 2.8rem;
	height: 2.8rem;
	margin-right: .4rem;
	padding: .4rem 0 0;
	background: #fff;
	box-shadow: 0 0 .16rem #dde7f0;
	display: block;
	float: left;
	clear: none;
}
.dh-choiceService a.dh-selected {
	box-shadow: 0 0 .16rem #ed1a52;
}
.dh-choiceService a p {
	width: 100%;
	font-size: .4rem;
	line-height: .8rem;
	text-align: center;
	color: #333333;
	float: left;
	clear: left;
}
.dh-choiceService a span {
	width: 100%;
	font-size: .84rem;
	line-height: 1.28rem;
	text-align: center;
	color: #ed1a52;
	float: left;
	clear: left;
}
.dh-choiceService a span b {
	font-size: .4rem;
	font-weight: normal;
}

.dh-serviceExplain {
	width: 100%;
	height: 1.04rem;
	font-size: .4rem;
	line-height: 1.04rem;
	text-align: center;
	color: #ed1a52;
	float: left;
	clear: left;
}

.dh-paymentMain {
	width: 100%;
	height: auto;
	background: #fff;
	border-top: 1px solid #d1deea;
	float: left;
	clear: left;
}
.dh-paymentMain li {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #d1deea;
	background: url(../../images/choice_default.png) no-repeat 9.2rem center;
	background-size: .4rem;
	padding: .28rem .4rem;
	float: left;
	clear: left;
}
.dh-paymentMain li span {
	width: .64rem;
	height: .64rem;
	float: left;
	clear: none;
}
.dh-paymentMain li span.dh-alipayIcon {
	background: url(../../images/icon_alipay.png) no-repeat center center;
	background-size: 100%;
}
.dh-paymentMain li span.wx-alipayIcon {
  background: url(../../images/icon_alipaywx.png) no-repeat center center;
  background-size: 100%;
}

.dh-paymentMain li.dh-selected {
  background: url(../../images/choice_current.png) no-repeat 9.2rem center;
  background-size: .4rem;
}
.dh-paymentMain li p {
	width: auto;
	height: .64rem;
	margin-left: .32rem;
	font-size: .4rem;
	line-height: .64rem;
	text-align: left;
	color: #333;
	float: left;
	clear: none;
}
.dh-paymentMain li p b {
  font-weight: normal;
  color: #e74c3c;
}

.dh-paymentFool {
	width: 100%;
	background: #fff;
	border-top: 1px solid #d1deea;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 3;
}
.dh-paymentFool p {
	width: auto;
	margin-left: .4rem;
	font-size: .4rem;
	line-height: 1.28rem;
	text-align: left;
	color: #333;
	float: left;
	clear: none;
}
.dh-paymentFool p b {
	font-weight: normal;
	color: #ed1a52;
}
.dh-paymentFool a {
	width: 3.2rem;
	height: 1.28rem;
	background: #d53533;
	font-size: .48rem;
	line-height: 1.28rem;
	text-align: center;
	color: #fff;
	float: right;
	clear: none;
}
/*g国际品牌样式*/
.ec-catalogBox {
  width: 100%;
  float: left;
  clear: left;
}
.ec-catalogBox li {
  width: 1.8rem;
  height: 2.4rem;
  margin: .32rem 0 0 .55rem;
  border: 1px solid #e8e8e8;
  float: left;
  clear: none;
}
.ec-catalogBox li span {
  width: 100%;
  height: 1.44rem;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  clear: left;
}
.ec-catalogBox li span img {
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 90%;
}
.ec-catalogBox li p {
  width: 100%;
  height: .96rem;
  font-size: .32rem;
  line-height: .96rem;
  text-align: center;
  color: #282828;
  float: left;
  clear: left;
}
.ec-catalogBox li.ec-newsBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ec-catalogBox li.ec-newsBox span {
  display: none;
}
.ec-catalogBox li.ec-newsBox p {
  height: auto;
  margin-top: .32rem;
  padding-top: .64rem;
  background: url(../../images/icon_newsRed.png) no-repeat center top;
  background-size: .4rem;
  font-size: .32rem;
  line-height: .48rem;
  text-align: center;
  color: #666;
}
.ec-international {
  margin-top: -.32rem;
  padding-bottom: .32rem;
}
.ec-international li {
  height: auto;
}
.ec-international li span {
  display: none;
}
.ec-international li p {
  height: auto;
  line-height: 1.8rem;
}

/*20181207*/
.el-paymentActivities {
  width: 100%;
  background: #FFFBF6;
  border-bottom: 1px solid #FFD48F;
  font-size: .4rem;
  line-height: .96rem;
  text-align: center;
  color: #F39C12;
  float: left;
  clear: left;
}

.el-serviceExplain {
  text-align: left;
  padding: 0 .4rem;
  font-size: .32rem;
}
/*.dh-paymentMain li span.el-weixinAlipayIcon {*/
  /*background: url(../images/icon_weixingPayment.png) no-repeat center center;*/
  /*background-size: 100%;*/
/*}*/

.el-paymentDiscount {
  width: 100%;
  margin-top: .4rem;
  background: #fff;
  border-top: 1px solid #d1deea;
  border-bottom: 1px solid #d1deea;
  float: left;
  clear: left;
}
.el-paymentDiscount dt {
  width: 100%;
  padding: 0 .4rem;
  border-bottom: 1px solid #d3e0eB;
  float: left;
  clear: left;
}
.el-paymentDiscount dt p {
  width: auto;
  font-size: .36rem;
  line-height: .96rem;
  text-align: left;
  color: #999;
  float: left;
  clear: none;
}
.el-paymentDiscount dt span {
  width: auto;
  font-size: .36rem;
  line-height: .96rem;
  text-align: left;
  color: #454545;
  float: right;
  clear: none;
}
.el-paymentDiscount dt span b {
  width: auto;
  font-size: .44rem;
  font-weight: normal;
  line-height: .96rem;
  text-align: left;
  color: #e74c3c;
  float: right;
  clear: none;
}
.el-paymentDiscount dd {
  width: 100%;
  padding: .24rem 0 .24rem 1rem;
  background: url(../../images/choice_default.png) no-repeat .4rem center;
  background-size: .4rem;
  float: left;
  clear: left;
}
.el-paymentDiscount dd.el-selected {
  background-image: url(../../images/choice_current.png);
}
.el-paymentDiscount dd p {
  width: auto;
  font-size: .36rem;
  line-height: .48rem;
  text-align: left;
  color: #282828;
  float: left;
  clear: none;
}
.el-paymentDiscount dd p b {
  width: auto;
  margin: 0 .12rem;
  font-size: .4rem;
  font-weight: normal;
  line-height: .48rem;
  text-align: left;
  color: #e74c3c;
  display: inline-block;
}
.el-paymentDiscount dd span {
  width: auto;
  font-size: .28rem;
  line-height: .48rem;
  text-align: left;
  color: #999;
  float: left;
  clear: left;
}
.el-paymentDiscount dd span b {
  width: auto;
  margin: 0 .12rem;
  font-size: .32rem;
  line-height: .48rem;
  text-align: left;
  color: #333;
  display: inline-block;
}

/*1218调整*/
.el-couponPopBox dd.el-integralNo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.el-couponPopBox dd.el-integralNo>p {
  width: auto;
  margin-right: .4rem;
  font-size: .36rem;
  line-height: .96rem;
  text-align: center;
  color: #e74c3c;
  float: left;
  clear: none;
}
.el-couponPopBox dd.el-integralNo>a {
  width: auto;
  font-size: .36rem;
  line-height: .96rem;
  text-align: center;
  color: #377de8;
  float: left;
  clear: none;
}
.el-paymentDiscount dd {
  position: relative;
}
.el-paymentDiscount dd>a {
  width: auto;
  margin-top: -.48rem;
  font-size: .32rem;
  line-height: .96rem;
  text-align: center;
  color: #377de8;
  position: absolute;
  top: 48%;
  right: .4rem;
}

/*0108 调整*/
.et-memberPrivilege {
  width: 100%;
  height: 3.44rem;
  background: #fff;
  margin: .32rem 0;
  border-top: 1px solid #d1deea;
  border-bottom: 1px solid #d1deea;
  display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

  float: left;
  clear: left;
}
.et-memberPrivilege>img {
  width: 100%;
  float: left;
  clear: left;
}

.dh-choiceService a {
  height: 3.2rem;
  position: relative;
}
.dh-choiceService a span.et-originalPrice {
  font-size: .32rem;
  line-height: .78rem;
  color: #bcbcbc;
  text-decoration: line-through;
  position: absolute;
  bottom: .2rem;
  left: 0;
  z-index: 3;
}

/*æ”¯ä»˜æˆåŠŸé¡µ*/
.eu-paymentSuccessPage {
  width: 100%;
  padding-top: 2.24rem;
  float: left;
  clear: left;
}
.eu-paymentSuccessBox {
  width: 100%;
  float: left;
  clear: left;
}
.eu-paymentSuccessBox>p {
  width: 100%;
  background: url(../../images/icon_success.png) no-repeat center top;
  background-size: 1.72rem;
  padding-top: 1.92rem;
  font-size: .64rem;
  line-height: .96rem;
  text-align: center;
  color: #0ECFA9;
  float: left;
  clear: left;
}
.eu-paymentSuccessBox>span {
  width: 100%;
  font-size: .36rem;
  line-height: .64rem;
  text-align: center;
  color: #282828;
  float: left;
  clear: left;
}
.eu-paymentSuccessBox>span>b {
  font-weight: normal;
  color: #ED1A52;
}
.eu-paymentSuccessBox>span.eu-seeCatalog {
  padding-top: .64rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eu-paymentSuccessBox>span.eu-seeCatalog>a {
  width: 3.2rem;
  height: .96rem;
  background: #fff;
  border: 1px solid #ED1A52;
  border-radius: .48rem;
  font-size: .4rem;
  line-height: .8rem;
  text-align: center;
  color: #ED1A52;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  clear: left;
}

.dh-paymentMain li span.el-weixinAlipayIcon {
  background: url(../../images/icon_alipaywx.png) no-repeat center center;
  background-size: 100%;
}

/*20190114 æ–°å¢ž*/
.eu-replacePayment {
  margin-top: .32rem;
}
.eu-replacePayment li {
  background: url(../../images/arrow_gray.png) no-repeat 9.44rem center;
  background-size: .16rem;
}
.eu-replacePaymentIcon {
  background: url(../../images/icon_replacePayment.png) no-repeat center center;
  background-size: 100%;
}



/*ä¼šå‘˜æ”¶è´¹banner*/
.eu-sloganBanner {
  width: 100%;
  float: left;
  clear: left;
}
.eu-sloganBanner img {
  width: 100%;
  float: left;
  clear: left;
}

/*智配插播广告的弹层样式*/
.eu-adExplainPop {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.48);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;
}
.eu-adExplainBox {
  width: 84%;
  position: absolute;
  left: 8%;
  top: 1.4rem;
  z-index: 200;
}
.eu-adExplainBox>dl {
  width: 100%;
  background: #fff;
  border-radius: .2rem;
  overflow: hidden;
  position: relative;
  float: left;
  clear: left;
}
.eu-adExplainBox>dl>dt {
  width: 100%;
  height: 1.76rem;
  background: url(../../images/title_adExplain.png) no-repeat center center;
  background-size: 100%;
  float: left;
  clear: left;
}
.eu-adExplainBox>dl>dd {
  width: 100%;
  padding: .32rem .4rem;
  float: left;
  clear: left;
}
.eu-adExplainBox>dl>dd>span {
  width: 100%;
  font-size: .32rem;
  line-height: .64rem;
  text-align: left;
  color: #333;
  float: left;
  clear: left;
}
.eu-adExplainBox>dl>dd>p {
  width: 100%;
  font-size: .32rem;
  line-height: .64rem;
  text-align: justify;
  text-indent: .64rem;
  color: #333;
  float: left;
  clear: left;
}
.eu-adExplainBox>a {
  width: .68rem;
  height: .68rem;
  margin-left: -.34rem;
  background: url(../../images/icon_closeButton.png) no-repeat center center;
  background-size: .64rem;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -1.28rem;
  z-index: 3;
}

.dh-choiceService a span.eu-labelRecommend {
  width: .96rem;
  height: .96rem;
  background: url(../../images/label_recommend.png) no-repeat top left;
  background-size: .96rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

/*0118 è°ƒæ•´*/
.ev-adExplainLink {
  width: 100%;
  padding: .2rem .4rem;
  float: left;
  clear: left;
}
.ev-adExplainLink>a {
  width: auto;
  background: url(../../images/icon_doubt_blue.png) no-repeat left center;
  background-size: .36rem;
  padding-left: .52rem;
  font-size: .32rem;
  font-weight: normal;
  line-height: .96rem;
  text-align: left;
  color: #377DE8;
  float: right;
  clear: none;
}


